spring:
  jackson:
    property-naming-strategy: SNAKE_CASE
  application:
    name: yearly-persist
  datasource:
    url: jdbc:postgresql://localhost:5432/year_objectives
    username: maria
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
server:
  servlet:
    context-path: /api/v1
springdoc:
  api-docs:
    enabled: true
    path: /api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
jwt:
  secret: ${JWT-SECRET:9kZznFFKIx3H6N//OcQnXpZ7thkfi8J1OMZKLa5FXQeaGtAuAYrtPdvy7GcIS+j2QjThD7hCI0rfC/pvkVfCAg=}
  expiration: 900000